@import "tailwindcss";
@plugin "daisyui";

body {
    background: url(./assets/blue-smooth-wall-textured-background.jpg);
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}