@import "tailwindcss";
@plugin "daisyui";

body {
    background: url(./assets/blue-watercolor-leaf-background-aesthetic-winter-season.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    width:6px;
}

::-webkit-scrollbar-track {
    background-color:aliceblue;
}

::-webkit-scrollbar-thumb {
    background: #1b1b1b;
    border-radius: 10px;
}